<!DOCTYPE html>
<html>
     
    <head>
        <meta charset="utf-8">
        <title>School</title>
        <link rel="stylesheet" href="homepagecss.css">

    </head>
    <body>
        <h1 id="sname">SKBZ School </h1>
        <div id="members">
            <nav id="nav1">
                <ul id="ul1">
                    <li><a href=""><h2>Admin</h2> </a></li>
                    <li><a href=""><h2>Teacher</h2></a></li>
                    <li><a href=""><h2>Parents</h2></a></li>
                    <li><a href=""><h2>Students</h2></a></li>
                    <li><a href=""><h2>Lab Assistance</h2></a></li>
                    <li><a href=""><h2>Bus Drivers</h2> </a></li>
                </ul> 
            </nav>
        </div>


        <div id="allFeaturesOfMembers"> 
            <ul>Admin
            <ol>Class Routines</ol>
            <ol>Results</ol>
            <ol>Teacher Assign</ol>
            <ol>Announcements</ol>
            <ol><em>GO TO FEDENA AND ADD ALL FEATURES</em></ol>
            </ul>

            <ul>Parents
                <ol>Notification</ol>
                <ol>Parents Meeting</ol>
                <ol>Fees Pyment</ol>
                <ol>check class Routines</ol>
                <ol><em>GO TO FEDENA AND ADD ALL FEATURES</em></ol>
                
            </ul>
            <ul> Students
                <ol> Class Routines</ol>
                <ol> Class Tests</ol>
                <ol> Class Assignments</ol>
                <ol> Mid-Terms Exams</ol>
                <ol> Absent Request</ol>
                <ol><em> TAKE ALL FROM FEDENA</em></ol>
            </ul>
            <ul> Lab Assistance
                <ol> Purchases</ol>
                <ol> Inform Incident</ol>
                <ol> <em> Insert from Fedena </em></ol>
            </ul>

        </div>
        
        <form action="" id="signIn" >
            <p> Provide your user name and password</p>
            <label for="uname">User Name</label>
            <input type="text" id="uname" value="" placeholder="Name">
            <br>
            <br>
            <label for="pass">Password</label>
            <input type="password" id="pass" value="" placeholder="******">
            <br>
            <br>
            <label for="email">Email Address</label>
            <input type="email" name="" id="email" placeholder="xyz@domain.com">
            <br><br>
            <input type="submit" value="submit">

        </form>
        <br>
        <br>
        
        <form action="https://w3schools.com" method="get" id="learning">
            <input type="submit" value="Start Learning Coding">
        </form>
        <br><br><br>

        <img src="13.png" alt="" style="width: 100px;height: 200px;">
        <table border="2">
            <thead>
                <th>class 1</th>
                <th>class 2</th>
                <th>class 3</th>
                <th>class 4</th>
            </thead>
            <tr>
                <td>1st period</td>
                <td> 2nd period </td>
                <td>3rd period</td>
                <td>4th period</td>
            </tr>
        </table>

        
    </body>
</html>